:root {
  --shadow-color: #aaa;
  --key-color: #e93d50;
  --focus-color: #af303f;
  --main-color: #fff;
  --focus-light-color: rgb(229, 255, 0);
}

body {
  align-items: center;
  background: linear-gradient(45deg, #a7cfdf 0%,#23538a 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1 {
  color: var(--main-color);
  margin-bottom: 20px;
  font-size: 2rem;
}

.keyboard {
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
  box-shadow: 6px 8px 0 6px #666, 10px 10px 10px #000;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.key {
  background-color: var(--main-color);
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--shadow-color);
  color: var(--key-color);
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.key:active {
  background-color: var(--key-color);
  border: 4px solid  var(--key-color);
  box-shadow: 3px 3px 0 var(--focus-color) inset;
  color: var(--main-color);
  outline: none;
}

.key:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--focus-light-color);
}

.key:active:focus {
  box-shadow: 3px 3px 0 var(--focus-color) inset, 1px 1px 10px var(--focus-light-color);
}
